{%extends "base.html"%}
{% from "_formhelpers.html" import render_field%}

<title>Kideny Donation</title>

{%block body%}


<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('index')}}">
        <img src="{{url_for('static', filename='projectpics/logo.png')}}" alt="txt" width="30" height="40" class="d-inline-block align-text-top">
        Organo
      </a>
      <div class="d-flex">

        <a href="{{url_for('mydon')}}"> MY DONATION</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{url_for('Signout')}}"> SIGN OUT</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{url_for('donation')}}"> DONATIONS</a>



      </div>
    </div>
  </nav>



        <form method="POST" action="{{url_for('Kidney_donate')}}" >
            {{form.hidden_tag()}}
            <div class="card-header">Donate Kidney</div>
            <div class="card-body">
                <div class="form-group">
                    <lable>Enter age</lable>
                    {{render_field(form.age)}}
                </div>


                <div class="form-group">
                    <label> Enter your weight</label>
                    {{render_field(form.weight)}}
                </div>

                <div class="form-group">
                  <label> blood_group</label>
                  {{render_field(form.blood_group)}}
                </div>



                <div class="form-group">
                  <label> Previous drinking</label>
                  {{render_field(form.drinking)}}
                  <p>Check if True OR else leave blank</p>
                </div>

                <div class="form-group">
                  <label> disease_history</label>
                  {{render_field(form.disease_history)}}
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>




{%endblock%}
